<a href="https://colab.research.google.com/github/Baraa-Rayed/introduction-to-Deep-Learning-Neural-Networks-with-Keras/blob/main/DL0101EN_3_1_Regression_with_Keras_py_v1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width = 400> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library.

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>

1.  <a href="https://#item31">Download and Clean Dataset</a>
2.  <a href="https://#item32">Import Keras</a>
3.  <a href="https://#item33">Build a Neural Network</a>
4.  <a href="https://#item34">Train and Test the Network</a>

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
# All Libraries required for this lab are listed below. The libraries pre-installed on Skills Network Labs are commented. 
# If you run this notebook on a different environment, e.g. your desktop, you may need to uncomment and install certain libraries.

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6

In [2]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [22]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [12]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [17]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [29]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [20]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [24]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
13/13 [==============================] - 0s 2ms/step - loss: 225.1309
Epoch 2/50
13/13 [==============================] - 0s 3ms/step - loss: 227.3281
Epoch 3/50
13/13 [==============================] - 0s 3ms/step - loss: 222.5734
Epoch 4/50
13/13 [==============================] - 0s 2ms/step - loss: 216.7457
Epoch 5/50
13/13 [==============================] - 0s 4ms/step - loss: 222.8100
Epoch 6/50
13/13 [==============================] - 0s 2ms/step - loss: 223.4286
Epoch 7/50
13/13 [==============================] - 0s 3ms/step - loss: 205.9874
Epoch 8/50
13/13 [==============================] - 0s 2ms/step - loss: 206.2028
Epoch 9/50
13/13 [==============================] - 0s 4ms/step - loss: 201.9561
Epoch 10/50
13/13 [==============================] - 0s 2ms/step - loss: 198.6724
Epoch 11/50
13/13 [==============================] - 0s 3ms/step - loss: 219.5634
Epoch 12/50
13/13 [==============================] - 0s 3ms/step - loss: 208.7066
Epoch 13/50
13/13 [==============================] - 0s 3ms/step - loss: 191.8284
Epoch 14/50
13/13 [==============================] - 0s 3ms/step - loss: 185.1645
Epoch 15/50
13/13 [==============================] - 0s 3ms/step - loss: 189.1826
Epoch 16/50
13/13 [==============================] - 0s 3ms/step - loss: 181.6810
Epoch 17/50
13/13 [==============================] - 0s 3ms/step - loss: 182.5639
Epoch 18/50
13/13 [==============================] - 0s 3ms/step - loss: 188.7619
Epoch 19/50
13/13 [==============================] - 0s 3ms/step - loss: 173.1421
Epoch 20/50
13/13 [==============================] - 0s 3ms/step - loss: 175.4211
Epoch 21/50
13/13 [==============================] - 0s 3ms/step - loss: 173.3898
Epoch 22/50
13/13 [==============================] - 0s 2ms/step - loss: 206.3981
Epoch 23/50
13/13 [==============================] - 0s 3ms/step - loss: 167.7203
Epoch 24/50
13/13 [==============================] - 0s 5ms/step - loss: 161.8499
Epoch 25/50
13/13 [==============================] - 0s 3ms/step - loss: 161.4472
Epoch 26/50
13/13 [==============================] - 0s 3ms/step - loss: 164.3217
Epoch 27/50
13/13 [==============================] - 0s 3ms/step - loss: 158.6485
Epoch 28/50
13/13 [==============================] - 0s 3ms/step - loss: 156.0661
Epoch 29/50
13/13 [==============================] - 0s 3ms/step - loss: 153.6540
Epoch 30/50
13/13 [==============================] - 0s 3ms/step - loss: 154.5578
Epoch 31/50
13/13 [==============================] - 0s 4ms/step - loss: 151.1942
Epoch 32/50
13/13 [==============================] - 0s 3ms/step - loss: 150.9135
Epoch 33/50
13/13 [==============================] - 0s 3ms/step - loss: 156.1939
Epoch 34/50
13/13 [==============================] - 0s 3ms/step - loss: 151.6787
Epoch 35/50
13/13 [==============================] - 0s 4ms/step - loss: 146.3140
Epoch 36/50
13/13 [==============================] - 0s 3ms/step - loss: 146.2070
Epoch 37/50
13/13 [==============================] - 0s 3ms/step - loss: 149.5760
Epoch 38/50
13/13 [==============================] - 0s 3ms/step - loss: 143.5158
Epoch 39/50
13/13 [==============================] - 0s 2ms/step - loss: 142.2050
Epoch 40/50
13/13 [==============================] - 0s 3ms/step - loss: 151.6115
Epoch 41/50
13/13 [==============================] - 0s 2ms/step - loss: 153.2027
Epoch 42/50
13/13 [==============================] - 0s 2ms/step - loss: 140.0108
Epoch 43/50
13/13 [==============================] - 0s 2ms/step - loss: 134.8210
Epoch 44/50
13/13 [==============================] - 0s 3ms/step - loss: 133.3853
Epoch 45/50
13/13 [==============================] - 0s 3ms/step - loss: 132.0570
Epoch 46/50
13/13 [==============================] - 0s 3ms/step - loss: 133.7635
Epoch 47/50
13/13 [==============================] - 0s 3ms/step - loss: 134.8530
Epoch 48/50
13/13 [==============================] - 0s 3ms/step - loss: 128.5247
Epoch 49/50
13/13 [==============================] - 0s 3ms/step - loss: 127.5040
Epoch 50/50
13/13 [==============================] - 0s 3ms/step - loss: 127.6356

Next we need to evaluate the model on the test data.

In [23]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 3ms/step - loss: 235.6509

235.65086364746094

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

235.65087890727904 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [27]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 73.35638427734375
MSE 2: 78.8896713256836
MSE 3: 59.69874572753906
MSE 4: 62.13056182861328
MSE 5: 52.40475082397461
MSE 6: 53.27132034301758
MSE 7: 70.14908599853516
MSE 8: 48.07815170288086
MSE 9: 49.16758346557617
MSE 10: 58.29312515258789
MSE 11: 46.54220962524414
MSE 12: 45.96302795410156
MSE 13: 54.3422966003418
MSE 14: 53.45267105102539
MSE 15: 49.63078308105469
MSE 16: 45.61137390136719
MSE 17: 54.254981994628906
MSE 18: 48.5444450378418
MSE 19: 43.8387451171875
MSE 20: 49.21167755126953
MSE 21: 55.24773025512695
MSE 22: 45.165218353271484
MSE 23: 43.25076675415039
MSE 24: 45.17257308959961
MSE 25: 47.13214111328125
MSE 26: 49.87327575683594
MSE 27: 49.3558235168457
MSE 28: 43.15882110595703
MSE 29: 51.33125686645508
MSE 30: 47.88178253173828
MSE 31: 49.905521392822266
MSE 32: 40.93129348754883
MSE 33: 47.100189208984375
MSE 34: 46.626651763916016
MSE 35: 44.77562713623047
MSE 36: 51.37760543823242
MSE 37: 50.461387634277344
MSE 38: 55.37060546875
MSE 39: 44.40989303588867
MSE 40: 44.27790832519531
MSE 41: 52.331260681152344
MSE 42: 47.0682258605957
MSE 43: 49.50908279418945
MSE 44: 52.081993103027344
MSE 45: 51.28107833862305
MSE 46: 51.62881088256836
MSE 47: 48.97492218017578
MSE 48: 48.72809600830078
MSE 49: 47.47732162475586
MSE 50: 58.21500778198242


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 51.13867095002196
Standard Deviation: 7.341078684329322

<strong>You can refer to this [link](https://keras.io/models/sequential/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1.  Increase or decreate number of neurons in hidden layers
2.  Add more hidden layers
3.  Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                                          |
| ----------------- | ------- | ---------- | ----------------------------------------------------------- |
| 2020-09-21        | 2.0     | Srishti    | Migrated Lab to Markdown and added to course repo in GitLab |

<hr>

## <h3 align="center">  IBM Corporation 2020. All rights reserved. <h3/>

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3\_LAB1).

<hr>

Copyright  2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_medium=dswb&utm_source=bducopyrightlink&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork20718188-2021-01-01).